/******

Folha de estilo: 1 Ano;
Nível de ensino: EI;

Cliente: SAE Digital;

*******/

:root {
	/* CORES */
	--primario: #7e5ca3;
	--secundario: #adbe51;
}

/**** Texto, títulos e listas ****/

h1,
h2{
    color: var(--secundario);
}

h3 {
    color: var(--primario);
    padding-left: 10%;
    text-indent: 0;
}

/**** Imagens ****/

span.layout_fio_legenda {
    color: var(--secundario);
}

/**** Tabelas ****/

table {
    background-color: var(--secundario);
}
tr:nth-child(odd) {
    background-color: #FCEFF0;
}
tr:nth-child(even) {
    background-color: #ddedf9;
}
.cabecalho {
    background-color: #b4d5d8;
    width: 25%;
}

/**** Blocos principais ****/

body.ei section {
	border-color: var(--primario);
}
body.ei blockquote.pagina {
    border-color: var(--primario) var(--primario) transparent var(--primario); /* CSS disciplina */
}
body.ei blockquote.fio {
    border: 3px dotted var(--primario);
}

/**** Atividades ****/

.numeracao,
.alternativaLetra span {
	color: #5dabb8!important;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #e5fafd;
}

.featherlight .featherlight-content {
    border-left: 15px solid var(--primario);
}

/**** Seções BG ****/

.box-section {
    height: auto;
    min-height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


/**** Blocos de texto ****/

.text-block-destaque{
    margin: 1em auto;
    padding: 1em;
    text-align: left;
    background-color: #ffffff;
    border-color: var(--primario);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 5px var(--primario);
    box-shadow: 5px 5px 0px 5px var(--primario);
    width: 80%;
}

.intro-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white, -4px 4px white, 4px 4px white, 3px 4px white, 2px -5px white, 4px 9px 15px black;
}

.text-block-content{
    margin: 1em auto;
    padding: 1em;
    text-align: left;
}

.text-block-bg{
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10em 8em;
    margin: 0 auto;
}

/**** Fim Blocos de texto ****/

/**** Input Blocos ****/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px dashed var(--primario);;
	border-radius: 20px;
	resize: vertical;
    font-family: 'Simply Rounded', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

label {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Simply Rounded', Helvetica, Arial, sans-serif;
    color: var(--secundario);
    top: -50%;
}

/**** Blocos ****/

.spacer{
    height: 1em;
}

.bottom-section{
    position: absolute;
    bottom: 0px;
    margin-bottom: 3em;
}